.accessibility-feature{
    padding-top: 20px;
}


.accessibility-panel{
    margin-left: 64.5em;
    font-size: 20px;
    width: 200px;
    height: 35px;

}



.accessibility-content{
    display: none;
    position:absolute;
    width: auto;
    height: auto;
    background-color: teal;
    z-index: 1;
    animation: 1.25s ease 0s normal forwards 1 fadein;
}

.accessibility-feature:hover .accessibility-content {display:block;}
.accessibility-feature:hover .accessibility-panel {background-color: white;}