body{
    background-image: linear-gradient(90deg, rgb(125, 74, 207),  rgb(136, 189, 233));
    font-size: 20px;
}

h1{
    font-size: 40px;
    text-align: center;
    color: rgb(248, 248, 250);
    font-family: sans-serif;
    padding: 20px;
    letter-spacing: 1px;
}

.even{
    color: rgb(99, 129, 143);
}



.container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5em;

}

.new-camera-form{
    margin: 2em;
    padding: 15px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: rgba(250, 249, 249, 0.979);

}

.new-camera-form fieldset{
    padding: 10px;
    
}

.new-camera-form div{
    margin: 5px;
    
}

table{
    background-color: #4f5870;
    width: 95%;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

thead{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    padding: 1em;
}

tbody{
    font-size: 20px;
    padding: 1em;
    background-color: rgb(248, 247, 247);
}

td{
    padding: 18px;
}