.container  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5em;
}

table{
    width: 95%;
    background-color: #4f5870;
    color:white;
}

h1{
    font-size: 40px;
    text-align: center;
    color: rgb(248, 248, 250);
    font-family: sans-serif;
    padding: 20px;
    letter-spacing: 1px;
}

