.container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5em;
    font-size: 16px;
}

table{
    width: 95%;
    background-color: rgb(248, 247, 247);
}

h1{
    font-size: 40px;
    text-align: center;
    color: rgb(248, 248, 250);
    font-family: sans-serif;
    padding: 20px;
    letter-spacing: 1px;
}

tr{
    background-color: #4f5870;
    color: rgb(248, 248, 250);
}

body{
    background-image: linear-gradient(90deg, rgb(169, 117, 189),  rgb(136, 189, 233));
    font-family: sans-serif;

}