[v-cloak]{
    display: none
}

nav ul{
    list-style: none;
    padding:0;
    display: flex;
}

nav li{
    height: 3rem;
    background-color:hsla(0, 100%, 100%, 0.74);
}


nav li a{
    display: block;
    padding: 1rem;
    text-decoration: none;

}

nav li a:hover {
    background-color: lightblue;
}

nav li.active{
    background-color: rgb(218, 197, 253);
}

a{
    padding-top: 2rem;
}