<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="formDemo">
        <fieldset>
            <legend>Personal Details</legend>
            <div class="form-group">
                <label for="first-name">
                    First Name
                </label>
                <input id="first-name" type="text"  v-model="firstName" />
                <div class="form-group">
                    <label for="last-name">
                        Last Name
                    </label>
                    <input id="last-name" type="text" v-model="lastName"/>
                </div>
                <div class="form-group">
                    <label for="bio">Biography</label>
                    <textarea id="bio" v-model="bio"></textarea>
                </div>
            </div>
        </fieldset>
    <div><strong>Output</strong>
        <p>First Name: {{firstName}} <br> Last Name: {{lastName}} </p>
        <p>Bio:{{bio}}</p>
    
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="script.js"></script>

</body>
</html>