.collection-container{

 display:flex;   
 flex-direction: row;
 justify-content: space-between;
}

body{
background-color: rgb(87, 53, 131);
}

.even{
    background-color: rgb(63, 194, 181);
    color: rgb(6, 94, 94);

}

table{
    background-color: rgba(180, 177, 177, 0.842);
    width: 95%;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif ;
}

.body{
    font-style: 20px;
}

h1{
    font-size: 40px;
    text-align: center;
    color:white;
    font-family: sans-serif;
    padding: 20px;
    letter-spacing: 1px;
}

thead {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
th{
  padding: 1em;
}

tbody{
    font-size: 20px;
    padding: 1em;
    background-color: rgb(250, 250, 239) ;

}

.container{
   padding-left: 5em;
}

td{
    padding: 18px;
}