<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Who</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
 
    <div id="llamaList">
        <ul>
            <li v-for="facts of llamas">
                {{ facts.message }}
            </li>
        </ul>

        <p v-if="true">Llamas were a key form of transportation in the acient Inca Empire.</p>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="script.js"></script>


  
</body>
</html>